:root {
    --tenne-tawny: #d15319;
    --tenne-tawny-dark: #e7470d;
}
.loader-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 50vh; /* Full height of the viewport */
    width: 90vw;
  }
  
  .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px; /* Size of the loader */
    height: 60px; /* Size of the loader */
    animation: spin 1s linear infinite; /* Rotation animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.bg-image {
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(0.8);
}

.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--tenne-tawny);
}

.header-container { 
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    background-color: var(--tenne-tawny-dark);
    font-family: 'Poppins', sans-serif;
}

.header-title {
    font-size: 3em; /* Increased font size for the title */
    letter-spacing: 10px; /* Space between letters */
    text-transform: uppercase; /* Uppercase for the title */
    color:white;  /* Title color */
    margin: 0; /* No margin */
    padding: 0; /* No padding */
    text-align: center; /* Center align text */
    transition: color 0.3s ease; /* Transition effect for hover */
    z-index: 5;
}

/* Add hover effect for title */
.header-title:hover {
    color:var(--tenne-tawny); /* Change color on hover */
   
}

.header-subtitle {
    letter-spacing: 5px; /* Space between letters */
    color: rgb(255, 255, 255); /* Slightly transparent white for subtitle */
    font-size: 1.8em; /* Increased font size for subtitle */
    margin-top: 10px; /* Space above subtitle */
}

  .header-subtitle:hover {
    color:var(--tenne-tawny); /* Change color to red when hovering */
}