body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-image {
  position: relative;
  background: url('./assets/f8.jpg');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2); /* Black shadow layer */
  z-index: -1; /* Place shadow layer above the image */
}

.content {
  position: relative;
  z-index: 2; /* Place content above the shadow */
  color: #fff; /* Adjust text color to make it visible */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-title {
  font-size: 3em; /* Increased font size for the title */
  letter-spacing: 10px; /* Space between letters */
  text-transform: uppercase; /* Uppercase for the title */
  color: #131313; /* Title color */
  margin: 0; /* No margin */
  padding: 0; /* No padding */
  text-align: center; /* Center align text */
  transition: color 0.3s ease; /* Transition effect for hover */
}

/* Add hover effect for title */
.header-title:hover {
  color: var(--tenne-tawny); /* Change color on hover */
}

.header-subtitle {
  letter-spacing: 5px; /* Space between letters */
  color: rgba(38, 38, 38, 0.971); /* Slightly transparent white for subtitle */
  font-size: 1.8em; /* Increased font size for subtitle */
  margin-top: 10px; /* Space above subtitle */
}
.header-subtitle:hover {
  color: var(--tenne-tawny); /* Change color on hover */
}